body{
    margin: 0;
    padding: 0;
}

#clock{
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgb(161, 146, 118);
    color: black;
    padding: 20px;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
