


/* .bg-black{
    background-color: black;
    color: aliceblue;
}

 */
 .btn{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    border: 2px solid white;
    margin: 20px;
}
#Red{
    background-color: red;
    color: white;
}
#Blue{
    background-color: blue;
    color: white;
}
#Maroon{
    background-color: maroon;
    color: white;
}
#Gray{
    background-color: rgb(109, 109, 109);
    color: white;
}

